label {
	/* background-color: aqua; */
	margin-right: 100px;
	/* padding-right: 12px; */
	font-size: 20px;
	/* border: rgb(41, 113, 221) 2px solid; */
}

input {
	background-color: rgb(248, 248, 248);
	margin-bottom: 100px;
	border: rgb(41, 113, 221) 2px solid;
	width: max-content;
}
.firstName {
	padding: 5px;
}
.midName {
	padding: 5px;
}
.lastName {
	padding: 5px;
}
.email {
	padding: 5px;
	margin-left: 45px;
}

.password {
	padding: 5px;
	margin-left: 10px;
}

.confirmPassword {
	padding: 5px;
	margin-left: -67px;
}

.userWork {
	padding: 5px;
	margin-left: 0px;
}

.imageData {
	padding: 5px;
	margin-left: 36px;
}
.userDescription {
	padding: 5px;
	margin-left: -55px;
}
